{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row">
		<div class="col-md-12"></div>
	</div>
	<nav class="navbar navbar-light bg-primary">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Splatoon2 Fanclub</h1>
		</div>
	</nav>
	

	<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>


	
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			<h2>{{ category_name }}
			</h2>
		</div>
		<div class="col-md-1"></div>
	</div>
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			
		</div>
		<div class="col-md-1"></div>
	</div>
	{% for item in items %}
		<a href = "{{url_for('showItem', category = item.category.name, item = item.name)}}">
			<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10">
						<h3>{{item.name}}</h3>

					</div>
				<div class="col-md-1"></div>
			</div>
		</a>
	{% endfor %}
{% endblock %}
